.idea
.agents


.codex
.codex*
.codex_pytest_tmp
**/.env

project/tutor_bot/data/metadata/backups
project/tutor_bot/data/history/*.jsonl
**/.venv/
**/data/chroma/
**/.pytest*

**/__pycache__/
**/context
**/local

**/.streamlit-*.log
**/.streamlit

**/.ruff_cache