__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
.env

data/metadata/*
!data/metadata/.gitkeep
data/audio/*
!data/audio/.gitkeep
artifacts/embeddings/*
!artifacts/embeddings/.gitkeep
artifacts/indexes/*
!artifacts/indexes/.gitkeep
artifacts/results/*
!artifacts/results/.gitkeep

.cache/
*.log
