OPENAI_API_KEY=your_llm_api_key
OPENAI_BASE_URL=https://ai.api.cloud.yandex.net/v1
LLM_MODEL=your_chat_model

EMBEDDING_API_KEY=your_embedding_api_key
EMBEDDING_MODEL=text-embeddings-v2
YANDEX_FOLDER_ID=b1gd3m1jmt5q9sb58934

CHUNK_SIZE=1000
CHUNK_OVERLAP=150
RETRIEVED_CHUNKS=3